@import url("https://fonts.googleapis.com/css2?family=Silkscreen&display=swap");
body {
    background: #ebebeb;
    color: #333333;
    overflow: hidden;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  .bg-steel {
    background-color: #000000;
  }
  .bg-steelv {
    background-color: #000000;
    opacity: 0.50;
  }
  
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    

  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  /* Basic Reset */
  *{
    font-family: 'Silkscreen';
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
  }
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  z-index: 2;

}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav1 {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:55px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  z-index: 2;
}
.nav1video {
  position: fixed;
  bottom: 0;
  width: 100%;
  height:75px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  display: flex;
  overflow-x: auto;
  align-content: end;
  z-index: 1;
}
/* home */

.home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.home .content{
  flex: 1 1 20rem;
}

.home .content .title{
  font-size: 6rem;
  color: #fff;
  text-transform: uppercase;
}

.home .content .title span{
  text-transform: uppercase;
  color: #1a1a1a;
}

.home .content .description{
  font-size: 2rem;
  font-weight: lighter;
  line-height: 1.8;
  padding: 1rem 0;
  color: #fff;
}

.home .content .btn{
  margin-top: 1rem;
  display: inline-block;
  padding: .9rem 3rem;
  font-size: 1.7rem;
  color: #fff;
  background: #1a1a1a;
  cursor: pointer;
}

.home .content .btn:hover{
  background:#f7b03c;
  color:#1a1a1a;
  font-size: 2rem;
}

.home .image{
  flex: 1 1 40rem;
} 

.home .image img{
  width: 100%;
}

/* end */

@media (max-width:991px){
  html{
    font-size: 55%;
  }

  .header{
    padding: 2rem;
  }


}

@media (max-width:768px){

  .home .image img{
    width: 368px;
  } 

  .home .content .title{
    font-size: 4rem;
  }

  .home .content .description{
    font-size: 1.6rem;
  }

}

@media (max-width:450px){
  html{
    font-size: 70%;
  }
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  justify-content: center;
  flex-grow: 5;
  flex-shrink: 0;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 13px;
  color: #ffffff;
  text-decoration: none;  
}

.transition-span {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-in-out;
}

.transition-span.d-md-inline {
  opacity: 1;
  transform: translateX(0);
}

.cls-1{
  fill:none;
  stroke:#ffffff;
  stroke-miterlimit:10;
  stroke-width:4px;
  transition: fill 0.3s ease;
  position: relative;
}
.cls-1:hover ,.cls-1:active, .cls-1.path-hovered{
  stroke:none;
  fill:#ffffff;
}
.cls-1.path-hovered-1{
  stroke:none;
  fill:#f7b03c;
}
.cls-2{
  fill:#ffffff;
  stroke:none;
  stroke-miterlimit:10;
  stroke-width:4px;
  transition: fill 0.3s ease;
}
.cls-2:hover,.cls-2:active{
  stroke:#ffffff;
  stroke-width: 2px;
}
body {
  font-family: Arial, sans-serif;
}

/* Navbar Styles */


.logo a {
  font-size: 24px;
  font-weight: bold;
  margin-right: auto;
  padding-left: 10;
}

.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin-right: 20px;
}

/* Navbar Toggle for Small/Medium Screens */
.nav-toggle {
  display: none;
}

.nav-links {
  display: flex;
  position:fixed;
  align-self:center;
  bottom:0;
}

.nav-item {
  display: block;
  flex:content;
}

/* Media Query for Smaller Screens */



  /* Other styles */

/* Icon Styles */
  .nav-links .nav-item a i {
  font-size: 20px; /* Adjust the icon size as needed */
  /* Additional styling properties */
}

  .navbar-nav-right {
    color: #949494;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    flex-grow: inherit;
    gap: 20px;

}
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
    object-fit: contain;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
      html, body{
    margin-top: 100;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  /* #map{
    position: fixed;
      height: auto;
      max-width: 100%;
      object-fit: cover;
      z-index: 0;
      margin-bottom: 45px;
  } */
  #camera, #camera--view, #camera--sensor, #camera--output{
      position: fixed;
      height: 100%;
      width: 100%;
      object-fit: cover;
      z-index: 0;
      margin-bottom: 45px;
  }
  /* #camera--trigger {
    width: 150px;
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% - 125px); /* Adjusted left position for centering */
  
  /* #camera--switch {
    width: 150px; Adjusted width to match the other button
    background-color: black;
    color: white;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    bottom: 30px;
    left: calc(50% + 25px); Adjusted left position for centering
  } */
  
  .taken{
      height: 100px!important;
      width: 100px!important;
      transition: all 0.5s ease-in;
      border: solid 3px white;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
      top: 20px;
      right: 20px;
      z-index: 2;
  }